<table>
  <tr>
    <td>
      <p>
      <!-- Existing user?<br /> -->
        Just use your Cisco email address to login below.<br />
      </p>
      <%= render 'form' %>
    </td>
    <!--<td>
      <p>
        New User?<br /> 
        Click <%#= link_to 'here', new_user_path, :class => 'signup' %> to sign up.
      </p>
      </td> -->
  </tr>
</table>
