<table>
  <tr>
    <td>
      <p class="copy">
        Existing user?<br />
        Just login below<br />
      </p>
      <%= render 'form' %>
    </td>
    <td>
      <p class="copy">
        New User?<br /> 
        Click <%= link_to 'here', new_user_path, :class => 'signup' %><br />
        to sign up.
      </p>
    </td>
  </tr>
</table>
