<div class="choose group debug-choice">
  <%= link_to 'Debug Another', new_r2d2_debug_path, :class => 'button' %>
</div>
<div class="choose group rework-choice">
  <%= link_to 'Request Rework', new_rework_request_path, :class => 'button'%>
</div>

