<h2>Results</h2>
<h3>Debug Summary</h3>
<p><%= @bad_bits.size %> defective bits were found and have been highlighted below:</p>
<br />
<!-- have controller build summary table? -->
<br />
<br />
<p>Please refer to the table below for a mapping between the defective bit and the memory device</p>
<br />
<h3>Mapping Table</h3>
<table cellspacing="0">
  <thead>
  <tr>
    <th scope='col'>Bad Bit</th>
    <th scope='col'>Ref Des</th>
    <th>Mem Device #</th>
    <th>Cycle</th>
    <th>Clock Edge</th>
  </tr>
  <tbody></tbody>
</table>

