<table class="project">
  <thead>
    <th>Project</th>
    <th class="center-cell">Revision</th>
    <th class="center-cell">Assembly Number</th>
    <th class="center-cell">Number of R2D2s</th>
  </thead>
  <tbody>
    <tr>
    <td><%= @assembly.project_name %></td>
    <td><%= @assembly.revision %></td>
    <td><%= @assembly.assembly_number %></td>
    <td><%= @assembly.num_of_r2d2s %></td>
  </tbody>
</table>
